
target/
results/
.idea/
*.iml
*.log
out/
.project
.classpath
.settings/
.DS_Store


*.iws
*.ipr

lib_managed/
src_managed/
bin/
project/target/
project/project/
.cache/
.history/

spring-boot-order-service/
order-service/
order-delivery-service/
